<extend name="Base/common" />
<block name="head"><head><title>历史微博</title></head></block>
<block name="body">

<div class="span9 page_message">
<section id="contents"> 
	 <ul class="tab-nav nav">
		<li class=""><a href="{:addons_url('Weibo://Weibo/lists')}">微博列表<b class="arrow fa fa-sort-up"></b></a></li>
		<li class=""><a href="{:addons_url('Weibo://Grant/lists')}">授权页面<b class="arrow fa fa-sort-up"></b></a></li>
		<li class=""><a href="{:addons_url('Weibo://Editor/lists')}">微博编辑器<b class="arrow fa fa-sort-up"></b></a></li>
		<li class="current"><a href="{:addons_url('Weibo://History/lists')}">历史微博<b class="arrow fa fa-sort-up"></b></a></li>
		<li class=""><a href="{:addons_url('Weibo://Rank/lists')}">排行榜<b class="arrow fa fa-sort-up"></b></a></li>
	 </ul>
	  
	<div class="normal_tips" >
       <span style="color:black">内容：</span>
	   <div>{$content}</div>
	   <div>时间：{$date}</div>
		
		

    </div>
	<div class="span9" style="margin-left:5px;">
		<volist name="img_array" id="img">
					<img src="__ROOT__/Uploads/{$img}" style="width:180px; margin-left:15px;"/>
		</volist>
	</div>
	<div class="table-bar">
        <div class="fl">
			<div class="tools">
				<a class="btn" href="{:addons_url('Weibo://Editor/lists')}">发微博</a>
				<a class="btn" href="{:addons_url('Weibo://History/lists')}">返回列表</a>
			</div>
        </div>
        
      </div>
	<div class="data-table">
        <div class=" table-striped">
          <table cellpadding="0" cellspacing="1">

				<thead>
					<tr>
							<th >帐户</th>
							<th width="100">赞</th>
							<th width="100">转发</th>
							<th width="100">评论</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list_data" id="data">
					<tr>
						<td>{$data.screen_name}</td>
						<td>{$data.attitudes_count}</td>
						<td>{$data.reposts_count}</td>
						<td>{$data.comments_count}</td>
						
					</tr>

				</volist>
				</tbody>
			</table>
		</div>
	</div>
	<!---下边分页-->
	

</section>
	</div>
</block>
	
<block name="script"> 
  <script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

})
</script> 
</block>
